:root {
  --background: #ffff;
  --white: #fff;

  // orange
  --orange-500: #e58200;
  --orange-400: #ff9000;
  --orange-300: #ffa633;
  --orange-200: #ffb332;

  // green
  --green-500: #209e53;
  --green-400: #25b860;
  --green-300: #2ad16d;
  --green-200: #31f780;

  // gray
  --gray-900: #262626;
  --gray-500: #4c4c4c;
  --gray-400: #727272;
  --gray-300: #989898;

  // red
  --red-500: #db3d3d;
  --red-400: #f64545;
  --red-300: #ff5c5c;
  --red-200: #ff665c;

  // font
  // --font: 'Quicksand', 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--white);
  font-family: 'quicksand';
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Quicksand', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  border: 1px solid var(--orange-500);
  width: 600px;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--gray-900);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

.react-modal-confirmation-delete {
  border: 1px solid var(--orange-500);
  width: 600px;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--gray-900);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.react-modal-overlay-confirmation-delete {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
